@import '../../variables';

.board {
	width: 800px;
	height: 499px;

	.row {
		display: flex;
		height: 50px;
		background-color: lavenderblush;

		&:last-child {
			height: 50px;
			margin-bottom: 10px;
		}
		.cell {
			border: 1px solid $common-border-color;
			width: 49px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			&.open {
				background-color: $open-background-color;
				&:hover {
					background-color: $open-background-color;
				}
			}
			&:hover {
				background-color: $hover-background;
			}
		}
	}
}
