@import 'components/BoardHeader/base';
@import 'components/GameBoard/base';
@import './variables';
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	#root {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.minesweeper {
			display: flex;
			flex-direction: column;
			height: 590px;
			h2 {
				text-align: center;
				border-left: 1px solid $common-border-color;
				border-top: 1px solid $common-border-color;
				border-right: 1px solid $common-border-color;
			}
			.input-container {
				margin-bottom: 10px;
				color: red;
				width: 80%;
				.row-input {
					margin-right: 5px;
					margin-bottom: 10px;
				}
			}
		}
	}
}
