$common-border-color: #444;
$open-background-color: #ccc;
$hover-background: #eee;
$placeholder: #dbd2d2;
$white: #fff;
$start-background: #3498db;
$disabled: #ddd;
$header-elem-border: rebeccapurple;
$header-background: aliceblue;
$cell-background: lavenderblush;
$body-background: lemonchiffon;
