@import '../../variables';
@import '../../mixins';

.board-head {
	display: flex;
	flex-direction: row;
	height: 55px;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $common-border-color;
	border-left: 1px solid $common-border-color;
	border-right: 1px solid $common-border-color;
	padding: 20px;
	background: $header-background;
	.reset,
	.flag-count,
	.timer {
		width: 55px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $header-elem-border;
		border-radius: 4px;
	}
	.flag-count {
		width: 70px;
	}
	.reset {
		font-size: 25px;
		@include button-styles;
		padding: 30px;
	}
}
